.header::before{
    content: "";
    background-color: transparent;
    position: absolute;
    top:0px;
    left:0px;
    height: 80%;
    width:100%;
    z-index: -1;
    opacity: 0.4;
}
.header{
    display: flex;
	width: 100%;
	/* height: 40%; */
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  top:0;
	/* position: relative; */
    justify-content: space-between;
    /* align-items: center; */
}
.nav-links{
    display: flex;
    list-style: none;
}
.nav-links li a {
    text-decoration: none;
    margin: 16px 15px 10px 20px;
    padding: 10px;
    font-weight: bold;
    color:inherit;
    font-size: 20px;
    font-family:'Roboto sans-serif';
    letter-spacing: 1px;
    
}

.login_button{
    background-color: transparent;
    outline: none;
    border: none;
    border:2px solid white;
    margin: 10px 20px 10px 20px;
    padding: 10px;
    color:white;
}

.out_sidebar_container{
    display: none;
    margin-left: 20px;
}

.sidebar_container{
    position: absolute;
    width: 60%;
    height: 700px;
    background-color: transparent;

}

.sidebar_box{
  display: flex;
  flex-direction: column;
  z-index: 900;
  color: black;
  
}

.sidebar_box ul{
    width: 157px;
}
.sidebar_box ul li{
list-style: none;
margin: 10px 10px 10px 0;
 padding: 10px;
 border-bottom: 2px solid whitesmoke;
}

.sidebar_box ul li:hover{
    background-color: whitesmoke;
}

.sidebar_box ul li a{
 text-decoration: none;
 font-size:30px;
 color: black;
 
 
    }
@media screen and (max-width: 768px) {
    .nav-links li a {
     
        margin: 10px 10px 10px 10px;
        padding: 5px;
     
        
    }
    
  
  }


@media screen and (max-width: 500px) {
 
  .out_sidebar_container{
      display: block;
      z-index: 23;
      color: white;
  }
  .icon{
     
      margin: 10px 20px 10px 20px;
      padding: 10px;
  }
  .nav-links{
      display: none;
  }
  .login_button{
      background-color: transparent;
      outline: none;
      border: none;
      border:2px solid white;
      color:white;
      /* width: 100%; */
    margin: 16px 15px 10px 20px;
    padding: 9px;
    font-size: 20px;
}

  }